<div class="mediumInsert-buttons">
    <a class="mediumInsert-buttonsShow">+</a>
    <ul class="mediumInsert-buttonsOptions">
        {{#each addons}}
            <li><a data-addon="{{name}}" data-action="add" class="mediumInsert-action">{{{label}}}</a></li>
        {{/each}}
    </ul>
</div>
