<div class="mediumInsert-buttons" contenteditable="false" style="display: none">
    <a class="mediumInsert-buttonsShow">+</a>
    <ul class="mediumInsert-buttonsOptions" style="display: none">
        {{#each addons}}
            <li><a data-addon="{{name}}" data-action="add" class="mediumInsert-action">{{{label}}}</a></li>
        {{/each}}
    </ul>
</div>
