<div class="medium-insert-embeds" contenteditable="false" data-embed-src="{{{url}}}">
	<figure>
		<div class="medium-insert-embed">
			{{{html}}}
		</div>
	</figure>
	<div class="medium-insert-embeds-overlay"></div>
</div>