<div class="medium-insert-polls">
    <iframe src="{{{url}}}" onload="ek$i.utils.resizeFrame(this);" scrolling="no" style='height: 100%; width: 100%;' frameborder="0">
    </iframe>
    <div class="medium-insert-polls-overlay"></div>
</div>
