<div class="medium-insert-images-toolbar medium-editor-toolbar medium-toolbar-arrow-under medium-editor-toolbar-active">
    <ul class="medium-editor-toolbar-actions clearfix">
        {{#each styles}}
            {{#if label}}
                <li>
                    <button class="medium-editor-action" data-action="{{@key}}">{{{label}}}</button>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

{{#if actions}}
	<div class="medium-insert-images-toolbar2 medium-editor-toolbar medium-editor-toolbar-active">
		<ul class="medium-editor-toolbar-actions clearfix">
        	{{#each actions}}
        	    {{#if label}}
        	        <li>
        	            <button class="medium-editor-action" data-action="{{@key}}">{{{label}}}</button>
        	        </li>
        	    {{/if}}
        	{{/each}}
    	</ul>
    </div>
{{/if}}