<div class="mediumInsert-imageToolbar medium-editor-toolbar medium-toolbar-arrow-under medium-editor-toolbar-active">
    <ul class="medium-editor-toolbar-actions clearfix">
        {{#each styles}}
            <li>
                <button class="medium-editor-action" data-action="{{@key}}">{{{this}}}</button>
            </li>
        {{/each}}
    </ul>
</div>