<figure contenteditable="false">
    <img src="{{img}}" img-id='{{imgId}}' alt=""></img>
    {{!-- {{#if progress }}
        <div class="medium-insert-images-progress"></div>
    {{/if}} --}}
</figure>