<div contenteditable="false">
    <div class="medium-hubrick-product-block">

    	Hi! I'm a Hubrick product. The data here needs to be pretty JSON from an API.

    {{#if progress }}
        <div class="medium-insert-images-progress"></div>
    {{/if}}
    </div>
</div>