.medium-editor-insert-buttons {
	display: none;
	position: absolute;
    color: #ddd;
    font-size: 0.9em;
    -webkit-user-select: none;
    user-select: none;
    a {
        text-decoration: underline;
        cursor: pointer;
    }

    .medium-editor-insert-buttons-show {
        box-sizing: border-box;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 20px;
        border: 1px solid;
        font-size: 25px;
        line-height: 28px;
        text-align: center;
        text-decoration: none;
        background: #fff;
        transform: rotate(0);
        transition: transform 100ms;
    }

    .medium-editor-insert-buttons-addons {
    	display: block;
    	position: relative;
    	left: 55px;
        top: -32px;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 2;
        opacity: 0;
        transition: opacity .1s;
        li {
            display: inline-block;
            background-color: #fff;
    		transform: scale(0);
    		transition: transform .1s 10ms;
            a {
                box-sizing: border-box;
                display: inline-block;
                margin: 0 5px;
                width: 32px;
                height: 32px;
                border-radius: 20px;
                border: 1px solid;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                cursor: pointer;
                .fa {
                    font-size: 15px;
                }
            }
        }
    }

     &.medium-editor-insert-addons-active {
    	.medium-editor-insert-buttons-show {
    		transition: transform 250ms;
            transform: rotate(45deg);
    	}
    	.medium-editor-insert-buttons-addons {
    		opacity: 1;
    		li {
    			transition-duration: .2s;
    			transform: scale(1);
    			transition-delay: 10ms;
    			&:nth-child(2) {
    				transition-delay: 30ms;
    			}
    			&:nth-child(3) {
    				transition-delay: 60ms;
    			}
    			&:nth-child(4) {
    				transition-delay: 90ms;
    			}
    			&:nth-child(5) {
    				transition-delay: 120ms;
    			}
    			&:nth-child(6) {
    				transition-delay: 150ms;
    			}
    		}
    	}
    }
}

.medium-editor-insert-buttons-active {
	display: block;
}
