.medium-editor-insert-plugin {
    .clearfix:before, &:before, .clearfix:after, &:after {
        content: " ";
        display: table;
        clear: both;
    }

    [draggable] {
        user-select: none; 
    }

    &[contenteditable], [contenteditable] {
        outline: 0px solid transparent;
        &:focus {
            outline: 0px solid transparent;
        }
    }
    
    * {
        box-sizing: content-box;
    }
    
    p {
        margin: 1em 0;
    }
    
    progress {
        display: block;
        margin: 1em auto;
    }
    
    .hide {
        display: none !important;
    }
    
    .mediumInsert-buttons {
        position: absolute;
        color: #ddd;
        font-size: 0.9em;
        a {
            text-decoration: underline;
            cursor: pointer;
        }
        
        .mediumInsert-buttonsShow {
            display: block;
            width: 30px;
            height: 30px;
            margin-top: -5px;
            border-radius: 20px;
            border: 1px solid;
            font-size: 25px;
            line-height: 28px;
            text-align: center;
            text-decoration: none !important;
        }
        
        ul.mediumInsert-buttonsOptions {
            margin: 0;
            padding: 0;
            list-style: none;
            display: none;
            position: absolute;
            z-index: 2;
            left: 55px;
            top: -5px;
            width: 300px;
            li {
                float: left;
                a {
                    display: block;
                    margin: 0 5px;
                    float: left;
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                    border: 1px solid;
                    font-size: 20px;
                    line-height: 28px;
                    text-align: center;
                    .fa {
                        font-size: 15px;
                    }
                }
            }
        }
        
        &.mediumInsert-buttons-vertical {
            ul.mediumInsert-buttonsOptions {
                top: 50px;
                left: 0;
                li {
                    float: none;
                    a {
                        float: none;
                        margin: 5px 0;
                    }
                }
            }
        }
    }
}
