.medium-insert-embeds-input {
    position: relative;
    color: #ccc;
    z-index: 1;
    text-align: left;
}

.medium-insert-embeds-placeholder {
    position: absolute;
    top: 0;
    z-index: 0;
}

.medium-insert-embeds-selected {
    outline: 2px solid #000;
}

.medium-insert-embeds-toolbar {
    display: none;
}