.mediumInsert-images {
    text-align: center;
    figure {
         margin: 0;
         display: block; 
         img {
             max-width: 100%;
             margin-top: 1em;
             vertical-align: top; 
         }
         &:first-child {
             img {
                 margin-top: 0;
             }
         }
    }
}