.mediumInsert-images {
    text-align: center;
    figure {
         margin: 0;
         display: block; 
         img {
             max-width: 100%;
             margin-top: 1em;
             vertical-align: top; 
         }
         &:first-child {
             img {
                 margin-top: 0;
             }
         }
    }
    &.medium-insert-images-small {
        max-width: 33.33%;
        float: left;
        margin: 0 30px 20px 0;
    }
    &.medium-insert-images-grid {
        margin: -0.5em;
        figure {
            width: 33.33%;
            display: inline-block;
            img {
                max-width: calc(100% - 1em);
                margin: 0.5em;
            }
        }
    }
}