@import "clearfix";


img {
  max-width: 100%;
}

q, blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 5px solid #efefef;
  padding-left: 20px;
  margin-left: -25px;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

[contenteditable] {
  outline: 0px solid transparent;
  &:focus {
    outline: 0px solid transparent;
  }
}

[data-medium-element="true"] {
  @extend .clearfix;
}

.medium-editor-placeholder {
  padding-bottom: 0 !important;
  min-height: 58px;
  &:after {
    content: attr(data-placeholder) !important;
    top: 1em;
  }
}

.hide {
  display: none !important;
}

.mediumInsert-buttonsShow {
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -webkit-transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -5px;
  border-radius: 10px;
  border: 2px solid;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none !important;
  &:after {
    left: auto;
    right: 100%;
    top: 50%;
    margin-top: -4px;
  }
}

.mediumInsert {
  position: relative;
  margin: -1em 0 -1em -40px;
  min-height: 18px;
  .mediumInsert-buttons {
    position: absolute;
    width: 40px;
    top: 0;
    left: 0;
    color: #ddd;
    font-size: 0.9em;
    a {
      text-decoration: underline;
      cursor: pointer;
      &.active {
        font-weight: bold;
      }
    }
    ul.mediumInsert-buttonsOptions {
      margin: 0;
      padding: 0;
      list-style: none;
      display: none;
      position: absolute;
      z-index: 2;
      left: 40px;
      top: -10px;
      border-radius: 5px;
      button {
        min-height: auto;
        height: auto;
        padding: 5px;
        border-left: none;
        float: none;
        .fa {
          font-size: 20px;
        }
      }
    }
  }
  .mediumInsert-placeholder {
    position: relative;
    margin-left: 40px;
    text-align: center;
    .mediumInsert-images {
      img {
        margin-top: 1em;
        margin-bottom: 10px;
        vertical-align: top;
      }
      a {
        position: absolute;
        top: 1em;
        width: 30px;
        height: 30px;
        background-color: #3b3b3b;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        &.mediumInsert-imageRemove {
          right: 0;
          background-image: url(../images/remove.png);
        }
        &.mediumInsert-imageResizeSmaller {
          right: 31px;
          background-image: url(../images/resize-smaller.png);
        }
        &.mediumInsert-imageResizeBigger {
          @extend .mediumInsert-imageResizeSmaller;
          background-image: url(../images/resize-bigger.png);
        }
      }
      &:first-child:after {
        content:"\a";
        white-space: pre;
      }
      &:not(:first-child) {
        margin-right: 10px;
        img {
          width: 20%;
        }
      }
    }
    .mediumInsert-maps {
      padding: 10px;
      background: #ccc;
    }
    .mediumInsert-error {
      background-color: #f2dede;
      border: 1px solid #ebccd1;
      color: #a94442;
      padding: 15px;
    }
  }
  &.hover {
    .mediumInsert-placeholder {
      background: #f0f0f0;
    }
  }
  &:hover {
    .mediumInsert-buttonsShow {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  &.small {
    .mediumInsert-placeholder {
      width: 33.33%;
      float: left;
      margin-right: 30px;
    }
  }
}

.hover {
  .mediumInsert-placeholder {
    min-height: 14px;
    border: 1px dashed #ddd;
    margin-top: -1px;
    margin-bottom: -1px;
  }
}

// .mediumInsert-withIcon {
//   font-size: 7px;
//   i {
//     display: block;
//     font-size: 14px;
//   }
// }
