.mediumInsert {
  margin: -1em 0;

  figure {
    margin: 0;
    display: inline-block; }

  img {
    max-width: 100%; }

  .mediumInsert-embeds {
    text-align: center;
    padding: 15px 0;

    iframe {
      margin: 0px auto !important; }

    div {
      margin: 0px auto !important; }
  }

  .mediumInsert-images {
    margin-right: 10px;
    width: 20%;

    img {
      margin-top: 1em;
      margin-bottom: 10px;
      vertical-align: top; }

    &:first-child {
      margin-right: 0;
      width: 100%;

      &:after {
        content: "\a";
        white-space: pre; }
    }
  }

  .mediumInsert-maps {
    padding: 10px;
    background: #ccc; }

  table.mediumInsert-table {
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    width: 90%;
    margin: 30px auto;

    td {
      border-right: 2px solid #333;
      border-bottom: 2px solid #333;
      padding: 12px; }
  }

  &.small {
    max-width: 33.33%;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px; }

  &.mediumInsert-first {
    margin-top: 0;
  }
}
