body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 20px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    z-index: 10;
    padding: 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 0 4px #000;
    box-sizing: border-box;
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#container {
    max-width: 960px;
    margin: 30px auto;
    padding: 0 15px;
}

.editable {
    outline: none;
    min-height: 38px;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

h3 {
    font-size: 32px;
    line-height: 42px;
}

h4 {
    font-size: 26px;
    line-height: 32px;
}

blockquote {
    display: block;
    margin: 0.5em 0 0.5em -25px;
    border-left: 5px solid #efefef;
    padding: 0.5em 20px;
    color: #999;
}

footer {
    border-top: 5px solid #efefef;
    padding-top: 30px;
    text-align: center;
}

footer a {
    color: #000;
    padding: 0 5px;
}

footer .fa {
    font-size: 2.5em;
}